<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <label>List of Animals:</label>

        <form class="new" method="post">
            <div id="dynamicInput"></div>
        </form>

        <p id = "p1">
                Select an animal to see its description.
        </p>

        <div>
            <p1><%= paragraph %></p1>
        </div>

        <div>
            <form action = "/animals" method = "post">
                <input type="text" name="name">
                <input type="text" name="color">
                <input type="text" name="size">
                <input id = "submit btn" type="submit" value="Submit">
            </form>
        </div>

        <div>
            <p1 id = "pid"></p1>
        </div>

        <div id = "dynamicTable"></div>

        <script type ="text/javascript"></script>
        <script type = "text/javascript" src = "js/idx.js"</source></script>
    </body>
</html>